<h1>Ma liste</h1>
<ul>
  <% @lists.each do |list| %>
  <li><%= link_to list.name, list_path(list) %></li>
  <% if @list.photos.any? %>
   <%= cl_image_tag(list.photos.first.key) %>
   <% end %>
  <% end %>
</ul>


<%= link_to "ajouter une nouvelle liste", new_list_path, class: "btn btn-primary" %>
