<h1>Ma liste</h1>
<ul>
  <% @lists.each do |list| %>
  <li><%= link_to list.name, list_path(list) %></li>
  <%= cl_image_tag("https://res.cloudinary.com/djnwj7bg0/image/upload/v1709894272/nu8pjf2krwseivtajaca.jpg") %>
  <% end %>
</ul>


<%= link_to "ajouter une nouvelle liste", new_list_path, class: "btn btn-primary" %>
