<h1>Liste : <%= @list.name %></h1>
<%= cl_image_tag("bmwbldsah440707798a1dg9co5ou",
      width: 400, height: 300, crop: :fill) %>

<%= link_to "Back", lists_path %>

<%= link_to "Supprimer", list_bookmark_path(@list), data: { turbo_method: :delete, turbo_confirm: "Vous êtes sur? " } %>
