<h1>Liste : <%= @list.name %></h1>
<%= cl_image_tag("https://res.cloudinary.com/djnwj7bg0/image/upload/v1709894272/nu8pjf2krwseivtajaca.jpg",
      width: 400, height: 300, crop: :fill) %>

<%= link_to "Back", lists_path %>

<%= link_to "Supprimer", list_bookmark_path(@list), data: { turbo_method: :delete, turbo_confirm: "Vous êtes sur? " } %>
